<a href="https://colab.research.google.com/github/GursharanKaur08/Kaggle-Tutorials/blob/main/4_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
planets = ["mercury","venus","earth","mars","jupiter","saturn","uranus","neptune"]
for planet in planets:
    print(planet, end=" ")

mercury venus earth mars jupiter saturn uranus neptune

In [ ]:
multiplicands = (2,2,2,3,3,5)
product = 1
for mult in multiplicands:
    product = product * mult
product

360

In [ ]:
s = 'steganograpHy is the practicE of conceaLing a file, message, image, or video within another fiLe, message, image, Or video.'
msg = ''
# print all the uppercase letters in s, one at a time
for char in s:
    if char.isupper():
        print(char, end='')

HELLO

In [ ]:
for i in range(5) :
  print("i = ",i)

i =  0
i =  1
i =  2
i =  3
i =  4

In [ ]:
i = 0
while i < 10:
  print(i,end=' ')
  i += 1

0 1 2 3 4 5 6 7 8 9

In [ ]:
squares = [n**2 for n in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
squares = []
for n in range(10):
  squares.append(n**2)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
short_planets = [planet for planet in planets if len(planet) < 6]
short_planets

['venus', 'earth', 'mars']

In [ ]:
loud_short_planets = [planet.upper() + '!' for planet in planets if len(planet) < 6]
loud_short_planets

['VENUS!', 'EARTH!', 'MARS!']

In [ ]:
[
    planet.upper() + '!' 
    for planet in planets 
    if len(planet) < 6
]

['VENUS!', 'EARTH!', 'MARS!']

In [ ]:
[32 for planet in planets]

[32, 32, 32, 32, 32, 32, 32, 32]

In [ ]:
def count_negative(num):
  return len([num for num in nums if num < 0])